h3,
p,
ul {
  margin: 0rem;
  padding: 0rem;
}

#inbox-container ul {
  background-color: var(--primary-color);
  padding: 1rem;
}
#inbox-container h1 {
  margin-left: 1rem;
}
#inbox-container ul li {
  list-style-type: none;
  margin-bottom: 1rem;
}
div#inbox {
  padding: 1rem;
  border: 1px solid rgb(230, 233, 235);
}

.read {
  background-color: #fff;
}
.unread {
  font-weight: 600;
  /* color: grey; */
}
.read h3 {
  font-weight: 300;
  color: grey;
}

a {
  text-decoration: none;
  color: inherit;
}
